<mat-toolbar class="">
  <div class="img-size">
    <img src="./ressources/logo.png" width="100%" alt="logo"/>
  </div>

  <div class="m-3">
    <button mat-button mat-stroked-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon>
      Menu
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item (click)="displayNouveaute()">Nouveauté</button>
      <button mat-menu-item (click)="displayHistorique()">Historique</button>
      @if(getIsConnected()){
        <button mat-menu-item (click)="displaySauvegarde()" >Sauvegardes</button>
        <button mat-menu-item >Playlists</button>
        @if(getUser().role === "artist"){
          <button mat-menu-item >Gerer vos titres</button>
        }
      }
    </mat-menu>
  </div>

  <div class="">
      <button mat-button (click)="goToHome()">
        <mat-icon>home</mat-icon>
        Accueil
      </button>
  </div>

  <span class="example-spacer"></span>

  <div class="pt-3 me-5">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Titre, Artiste ...</mat-label>
        <input matInput [(ngModel)]="textFilter"/>
        <button matSuffix mat-icon-button aria-label="Search" (click)="setTextFilterEvent()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  @if (!getIsConnected()){
    <div class="example-flex-container">

      <div class="">
        <button mat-button>
          <mat-icon>app_registration</mat-icon>
          S'inscrire
        </button>
      </div>
      <div class="">
        <a mat-stroked-button routerLink="/login">
          <mat-icon>login</mat-icon>
          Se connecter
        </a>
      </div>

    </div>
  } @else {
    <div class="example-flex-container me-4 pt-3">
      <div mat-card-avatar
           class="example-header-image"
           [matMenuTriggerFor]="userProfile"
           [style]="avatarUrl"
      >
        {{avatarName}}
      </div>
      <mat-menu #userProfile="matMenu">
        <button mat-menu-item>MonProfil</button>
        <button mat-menu-item (click)="deconnexion($event)">Deconnexion</button>
      </mat-menu>
    </div>
  }
  <div class="m-3">
    <button mat-button mat-stroked-button [matMenuTriggerFor]="menu">{{getLanguage()??defaultLanguage}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeLanguage('Francais')">Francais</button>
      <button mat-menu-item (click)="changeLanguage('Anglais')">Anglais</button>
    </mat-menu>
  </div>


</mat-toolbar>

