.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('/ressources/icon-musique.png');
  background-size: cover;
}

.example-header-image1 {
  background-image: url('/ressources/icon-playlist.png');
  background-size: cover;
}

.example-card:hover{
  background-color: lightgreen;
  transform: scale(115%);
  transition: 150ms ease-in-out;
}

.display-button{
  display: block;
}

.hidde-button{
  display: none;
}
